//structure
@import 'scss/structure/mixins';
@import 'scss/structure/variables';

// inc
@import 'scss/inc/instant-gallery';
@import 'scss/inc/template';
@import 'scss/inc/soliloquy';
@import 'scss/inc/fancybox';
@import 'scss/inc/flexslider';
@import 'scss/inc/loader';
//@import 'scss/inc/flexslider-vertical';


//theme
@import 'scss/theme/carousel';
@import 'scss/theme/video';
@import 'scss/theme/carousel_vertical';
@import 'scss/theme/index';
@import 'scss/theme/nouvelles';
@import 'scss/theme/services';
@import 'scss/theme/infos';
@import 'scss/theme/contact';
@import 'scss/theme/single';
@import 'scss/theme/publication';
@import 'scss/theme/exposition';
@import 'scss/theme/base/header';
@import 'scss/theme/base/footer';
@import 'scss/theme/base/category';
@import 'scss/theme/base/search';

/* my feuille de style */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {background-color:$fondo; color:#ffffff; font-family:'Helvetica Neue', arial;}
a{color:#ffffff; text-decoration:none;}

p {font-family:'futura_ltlight', arial;}


/* ========= Footer =========== */	

footer {font-size:.72em; text-align:center;}



/* ========= Helperclass =========== */	

h1{font-family:'HelveticaNeueLT-UltraLight', Helvetica, Arial;
	font-weight: normal; 
	color:$white;
	text-transform:uppercase;
	font-size:1.5em;
	display:inline;
	letter-spacing:2px;
	@include mq(petit-ecran) {font-size:1.25em;}
}

h2 {font-family:'HelveticaNeueLT-UltraLight', Helvetica, Arial;
	color:$gris;
	text-transform:uppercase;
	font-size:0.92em;
	letter-spacing:2px;
}

h3 {font-family:'futura_ltlight', arial;
	font-weight: 200; 
	color:$white;
	font-size:1.25em;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.underline {text-decoration:underline;}
