/* ========= Publication =========== */

.publication {font-size:0.9em;
		margin:0 0 0 5%;
		font-family: "futura_ltlight", arial;
		@include mq(tablette-landscape) {margin:0 0 0 5%;}
		@include mq(tablette) {margin:0;}
		@include mq(petit-ecran) {margin:0;}
		
		.module-slider {float:left;
						width:20%;	
						margin-top:3em;
						padding-left: 1em;
						//width: 8em;
						@include mq(petit-ecran) {display:none;}						
		}
		
		.module-single {
				font-family:'futura_ltlight', arial;
				float:right;
				width:80%;
				@include mq(petit-ecran) {width:100%;}	
				
				.single-content > *:nth-child(2),
				.single-content > *:nth-child(3),
				.text-catalogue								
												{float:left; 
												width: 60%;
												padding: 0 10% 0 15%;
												text-align: center;
												@include mq(tablette-landscape) {width: 75%; padding: 0 17%;}
												@include mq(tablette) {width: 70%; padding: 0 10%;}
												@include mq(petit-ecran) {width: 100%; padding-left: 15%; }
				}
				
				.single-content > *:nth-child(2) a,
				.single-content > *:nth-child(3) a,
				.text-catalogue {text-decoration:underline; margin-bottom: 1.5em;}
		}
		
	
		
		h1 {text-align:center;
			width:30%;
			margin:0 18% 1.5em;
			color:$white;
			display:block;
			@include mq(tablette-landscape) {width:35%; margin:0 25% 0 20%; }
			@include mq(tablette) {width:40%; margin:0 35% 0 15%; }
			@include mq(petit-ecran) {width:70%; margin:0 15% 0em; font-size:1.25em;}
		}
			
}